@media (max-width: 1200px) {
    .container {
        width: auto;
        padding: 0 20px;
    }

    .main_container {
        gap: 35px;
    }

    .about_container {
        width: calc(100% - 265px);
    }

    .news_contant-list {
        gap: 25px;
    }

    .video_block {
        justify-content: space-between;
        align-items: center;
    }

    .video_block-link {
        width: 75%;
    }

    .video_block-text {
        width: 250px;
    }

    .video_block-link > iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .graduate_item {
        padding: 35px 15px;
    }
}

@media (max-width: 1024px) {
    .header_menu {
        display: none;
    }

    .header_action_main {
        display: flex;
    }

    .header_menu-burger {
        display: block;
        position: absolute;
        width: 270px;
        height: 100vh;
        background-color: white;
        z-index: 1;
        left: -270px;
        transition: all 0.5s ease-in-out;
    }
    
    .header_menu-burger-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .header_menu-burger.active {
        display: block;
        position: absolute;
        width: 270px;
        height: 100vh;
        background-color: white;
        z-index: 1;
        transform: translate(270px);
    }
    
    .header_menu-burger.active > .header_menu-burger-wrapper > .header_menu-main-list {
        flex-direction: column;
    }
    
    .header_menu-burger > .header_menu-burger-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 35px;
        left: 30px;
        gap: 25%;
        height: 75%;
    }

    .header_menu-bottom {
        margin-left: -30px;
        padding-left: 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid #005AAA;
    }

    .header_submenu-burger-list, .header_dropsubmenu-burger-list, .header_dropsubmenu-main-item {
        display: flex;
        flex-direction: column;
    }

    .header_submenu-main-item:first-child {
        cursor: pointer;
        padding: 10px 0px 10px 30px;
    }

    .header_dropsubmenu-burger-list {
        display: none;
    }

    .header_submenu-main-item.hidden-table.active {
        font-weight: 600;
    }
    .header_dropsubmenu-burger-list.active {
        display: flex;
    }

    .header_submenu-main-item, .header_dropsubmenu-main-item {
        margin-left: -30px;
        padding-left: 30px;
        border-bottom: 1px solid #ccc;
    }

    .header_submenu-main-item, .header_dropsubmenu-main-item {
        font-weight: 300;
        color: #000000cc;
    }

    .header_submenu-main-item > a, .header_dropsubmenu-main-item > a{
        font-weight: 300;
        color: #000000cc;
        margin-left: -30px;
        padding: 10px 0px 10px 30px;
        display: block;
    }

    .hidden_menu {
        top: 42px;
    }

    .about_content > i::before {
        font-size: 150px;
    }

    .message_contact-card {
        width: auto;
    }

    .video_block {
        flex-direction: column;
    }

    .video_block-link {
        width: 100%;
    }

    .video_block-link > iframe {
        width: 100%;
    }

    .video_block-text {
        width: 100%;
        gap: 10px;
    }

    .news_contant-list {
        gap: 25px;
    }

    .news_contant-item {
        width: calc(90% / 2);
    }
    
    .news_contant-list {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .graduate_item {
        width: calc(100% / 2);
    }

    .quote_contant {
        width: 100%;
    }

    .footer_contacts-list {
        flex-wrap: wrap;
    }

    .footer_contacts-item {
        width: calc(90% / 2);
        margin-bottom: 20px;    
    }
}

@media (max-width: 800px) {
    .header_banner-info-list {
        gap: 3%;
    }

    .main_left_container {
        width: calc(95% - 215px);
    }

    .main_right_container {
        width: 215px;
    }

    .news_contant-item {
        width: 90%;
    }

    .message_contact-card {
        width: 265px;
    }

}

@media (max-width: 720px) {
    
    h1, h2 {
        font-size: 25px;
    }

    .header_banner-contacts {
        flex-direction: column;
        gap: 10px;
    }

    .header_banner-info-list {
        gap: 0;
    }

    .header_banner-info-item {
        width: calc(90%/3);
    }

    .about_content > i::before {
        display: none;
    }

    .news {
        width: 100%;
    }

    .news_contant-list {
        overflow-x: hidden;
        flex-wrap: wrap;
    }

    .news_contant-item, .graduate_item {
        width: 100%;
    }

    .quote_contant {
        width: 100%;
    }

    .graduate_item {
        width: 100%;
    }

    .graduate {
        width: 100%;
    }
}


@media (max-width: 640px) {
    .main_left_container {
        width: 100%;
    }

    .header_contact {
        font-size: 12px;
    }
    
    .header_banner-title {
        font-size: 34px;
    }

    .main_container {
        flex-direction: column;
    }
    
    .main_right_container {
        width: auto;
    }
    
    .main_right-info {
        display: none;
    }

    .main_right-info-mobile {
        display: block;
        margin-bottom: 40px;
    }

    .video {
        width: 100vw;
        margin-left: -20px;
    }

    .message_contacts {
        flex-direction: row;
        justify-content: space-between;
    }

    .message_contact-card {
        width: 45%;
    }
    
    .message_contact.link {
        font-size: 12px;
    }

    .graduate {
        width: 100%;
    }

    .footer_contacts-item {
        width: 100%;
    }

    .about_contant-card-title {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .news_contant-item {
        width: 100%;
    }
}